
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/root/public/images/logo.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Administrator</p>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-cubes"></i>
            <span>Web Service</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a id="serviceList" href="/service"><i class="fa fa-list"></i>List Web Service</a></li>
            <li><a id="serviceAdd" href="/service/add"><i class="fa fa-plus"></i>Tambah Web Service</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-calendar"></i>
            <span>Information</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a id="sysInfo" href="/system"><i class="fa fa-list"></i>System</a></li>
            <li><a id="netInfo" href="/network"><i class="fa fa-calendar-plus-o"></i>Networking</a></li>
          </ul>
        </li>
        <li><a id="webtty" href="/webtty"><i class="fa fa-dashboard"></i> <span>Web Terminal</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
