<!-- List Barang Section Start  -->
<div id='list_service'>
  <center>
    <h1>List Barang</h1>
  </center>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalEdit">Open Modal</button>
</div>
<!-- List Barang Section End  -->

<!-- List Peminjam Section Start  -->
<div id='system_information'>
  <center>
    <h1>List Peminjam</h1>
  </center>
</div>
<!-- List Peminjam Section End  -->

<!-- Reservasi Section Start  -->
<div id='network_information'>
  <center>
    <h1>Reservasi Barang</h1>
  </center>
</div>
<!-- Reservasi Section End  -->

<!-- List Peminjam Section Start  -->
<div id='webtty'>
  <center>
    <h1>Web Terminal</h1>
  </center>
</div>
<!-- List Peminjam Section End  -->