<!-- Dashboard Section Start-->
<div id='dashboard'>
  <center>
    <h1>Welcome @USER</h1>
  </center>

  <center>
    <h1>bla bla Management System</h1>
  </center>
</div>
<!-- Dashboard Section End-->

<!-- List Barang Section Start  -->
<div id='list_barang'>
  <center>
    <h1>List Barang</h1>
  </center>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalEdit">Open Modal</button>
</div>
<!-- List Barang Section End  -->

<!-- Tambah Barang Section Start  -->
<div id='tambah_barang'>
  <center>
    <h1>Tambah Barang</h1>
  </center>
</div>
<!-- Tambah Barang Section End  -->

<!-- List Peminjam Section Start  -->
<div id='list_peminjam'>
  <center>
    <h1>List Peminjam</h1>
  </center>
</div>
<!-- List Peminjam Section End  -->

<!-- Reservasi Section Start  -->
<div id='reservasi'>
  <center>
    <h1>Reservasi Barang</h1>
  </center>
</div>
<!-- Reservasi Section End  -->
