
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="rows">
        <div id="divData"></div>
        <% include modals %>
      </div>
    </section>
    <!-- /.content -->
