
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="rows">
        <% include body %>
        <% include modals %>
      </div>
    </section>
    <!-- /.content -->
