  <div class="pull-right hidden-xs">
      <b>Version</b> 0.0.1
    </div>
    <strong>Copyright &copy; 2017 <a href="http://ajk.if.its.ac.id">Arsitektur dan Jaringan Komputer</a>.</strong> All rights
    reserved.
