  <div class="pull-right hidden-xs">
      <b>Version</b> 0.0.2
    </div>
    <strong>Copyright &copy; 2018 <a href="https://aguelsatria.web.id">Aguel Satria Wijaya</a>.</strong> All rights
    reserved.
