<% include partials/head %>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<header class="main-header">
			<% include partials/header %>
		</header>

		<aside class="main-sidebar">
			<% include partials/aside %>
		</aside>

		<div class="content-wrapper">
			<section class="content-header"></section>
			<section class="content">
			    <div class="rows">
			        <div id='dashboard'>
			            <center>
			                <h1>Welcome <b>Aguel Satria Wijaya</b></h1>
			            </center>
			            <center>
			                <h1>Server Monitoring System</h1>
			            </center>
			        </div>
			    </div>
			    <% include partials/modals %>
			</section>
		</div>

		<footer class="main-footer">
			<% include partials/footer %>
		</footer>

		  <div class="control-sidebar-bg"></div>
	</div>

<% include partials/tail %>
<% include partials/close %>